<%# ----------------------------------------------------
#
#   EJSテンプレート
#
------------------------------------------------------ -%>
<%
var pid = 'company';
var ary = {
    baseUrl   : './',
    incdir    : '../',
    pageid    : pid,
    page    : json[pid],
    site    : json['site'],
    dir     : json['dir'],
    meta    : json['meta']
 };
-%>
<%- include(ary['incdir']+'_inc/base/_data', { baseUrl : ary['baseUrl'] }) -%>
<!DOCTYPE html>
<html lang="ja">
<%-
  include(ary['incdir']+'_inc/base/_head', { arg: ary })
%>

<body>
<%- include(ary['incdir']+'_inc/parts/_loading', { arg : ary }) -%>

<%- include(ary['incdir']+'_inc/base/_header', { arg:ary }) -%>

<%- include(ary['incdir']+'_inc/parts/_hamburger', { arg:ary }) -%>
<%- include(ary['incdir']+'_inc/parts/_spmenu', { arg:ary }) -%>
<%- include(ary['incdir']+'_inc/section/_submv', { arg:ary }) -%>
<%- include(ary['incdir']+'_inc/parts/_breadcrumb', { arg:ary } ) -%>

    <main class="l-main" id="top">
<%- include(ary['incdir']+'_inc/section/_company', { arg:ary }) -%>

<%- include(ary['incdir']+'_inc/section/_top_contact', { arg:ary }) -%>
    </main>

<%- include(ary['incdir']+'_inc/base/_footer', { arg:ary }) -%>

</body>

</html>
