<%# ----------------------------------------------------
#
#   EJSテンプレート
# --------------------------------
※ CSSはみ出し確認
$$("*").forEach(v => v.style.outline = '1px solid red')    
#
------------------------------------------------------ -%>
<%
var pid = 'index';
var ary = {
    baseUrl : './',
    incdir  : '',
    pageid  : pid,
    page    : json['top'],
    site    : json['site'],
    dir     : json['dir'],
    meta    : json['meta']
    };

-%>

<%- include('_inc/base/_data', { baseUrl : ary['baseUrl'] }) -%>
<!DOCTYPE html>
<html lang="ja">
<%-
  include('_inc/base/_head', { arg : ary  })
%>

<body>
<%# include('_inc/parts/_loading', { arg:ary }) -%>

<%- include('_inc/base/_header', { arg:ary }) -%>

<%- include('_inc/section/_mv', { arg:ary }) -%>

    <main class="l-main" id="top">
<%- include('_inc/section/_top_news', { arg:ary }) -%>

<%- include('_inc/section/_top_service', { arg:ary }) -%>

<%- include('_inc/section/_top_works', { arg:ary }) -%>

<%- include('_inc/section/_top_company', { arg:ary }) -%>

<%- include('_inc/section/_top_recruit', { arg:ary }) -%>

<%- include('_inc/section/_top_contact', { arg:ary }) -%>
    </main>

<%# フッター用facebookボタンプラグイン %>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v18.0" nonce="o5PYbrrW"></script>

<%- include('_inc/base/_footer', { arg:ary }) -%>

</body>

</html>
