<%# ----------------------------------------------------
#
#   EJSテンプレート
# --------------------------------
※ CSSはみ出し確認
$$("*").forEach(v => v.style.outline = '1px solid red')    
#
# --------------------------------
利点としては単純にファイル分割
・「ほぼ同じだけど一部違うセクション(CTAやCV)」の関数化
・「テーブルなどのデータが違うだけのものをデータベース化」
・swiperslideやリストの項目が入り組んで冗長化した場合の分割
とにかくHTMLでわずらわしいと感じた部分に使う事で
簡潔でわかりやすくする。
------------------------------------------------------ -%>
<% var baseUrl = './'; -%>
<%- include('_inc/_data', { baseUrl : baseUrl }) -%>
<!DOCTYPE html>
<html lang="ja">
<%-
  include('_inc/_head', {
    baseUrl : baseUrl,
    dir : json['dir'],
    meta : json['meta'],
    meta_favicon : json['meta']['favicon'],
    meta_ogp : json['meta']['ogp'],
    page : json['top'],
  })
%>

<body>
<%- include('_inc/parts/_loading', { page : json['top'] }) -%>

<%- include('_inc/_header', { site:json['site'], dir:json['dir'], page:json['top'] }) -%>

<%# include('_inc/parts/_hamburger', { site:json['site'], page:json['top'] }) -%>
<%# include('_inc/parts/_spmenu', { site:json['site'], page:json['top'] }) -%>
<%- include('_inc/section/_mv', { site:json['site'], dir:json['dir'], page:json['top'] }) -%>

    <main class="l-main" id="top">
<%- include('_inc/section/_story', { site:json['site'], dir:json['dir'], page:json['top'] }) -%>

<%- include('_inc/section/_cta', { sec:'1', site:json['site'], dir:json['dir'], page:json['top'] }) -%>

<%- include('_inc/section/_trailer', { site:json['site'], dir:json['dir'], page:json['top'] }) -%>

<%- include('_inc/section/_cta', { sec:'2', site:json['site'], dir:json['dir'], page:json['top'] }) -%>
    </main>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v18.0" nonce="o5PYbrrW"></script>

<%- include('_inc/_footer', { site:json['site'], page:json['top'] }) -%>

</body>

</html>
