<%
    var incdir = arg['incdir'];
    var nowpage = 0;    //  現在のページ
-%>
<%- include(incdir+'/section/_top_company', { sec:"company" }) -%>
    <!-- section : SERVICE -->
    <section class="l-section p-company" id="company">
        <div class="l-body p-company__body">
            <div class="l-inner p-company__inner">
                <div class="p-company__content">
                    <div class="p-company__president">
                        <picture>
                            <source srcset="<%- incdir %><%- arg['dir']['img'] %>/company/pc/ceo.jpg" media="(max-width: 768px)" width="345" height="255">
                            <img src="<%- incdir %><%- arg['dir']['img'] %>/company/pc/ceo.jpg" alt="" width="445" height="330">
                        </picture>
                        <div class="p-company__textarea">
                            <p class="lead">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                            <p class="lead">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                            <p class="name">代表取締役社長 猫山ポン太郎</p>
                        </div>
                    </div>
                    <div class="p-company__info">
                        <h3 class="c-title__section">会社概要</h3>
                        <dl>
                            <div class="row">
                                <dt>社名</dt>
                                <dd>株式会社PON DESIGN</dd>
                            </div>
                            <div class="row">
                                <dt>設立</dt>
                                <dd>2025.02.10</dd>
                            </div>
                            <div class="row">
                                <dt>代表取締役</dt>
                                <dd>猫山ポン太郎</dd>
                            </div>
                            <div class="row">
                                <dt>資本金</dt>
                                <dd>1,000,000円</dd>
                            </div>
                            <div class="row">
                                <dt>所在地</dt>
                                <dd>〒555-5555 東京都千代田区 ポンビルディング 606</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="p-company__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6481.2142167330185!2d139.7612253808061!3d35.68667502001635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bf81a0c479d%3A0x18e3579378172838!2z5aSn5omL55S66aeF!5e0!3m2!1sja!2sjp!4v1706079472067!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <a href="https://maps.app.goo.gl/1Zo7muthvgdn3F7t5" class="alink"><p>Google mapで見る</p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section:END -->
