<%
var id = arg['incdir']+arg['dir']['img']+'/flow';
var ids= arg['incdir']+arg['dir']['img']+'/flow/sp';
%>
    <!-- section : flow -->
    <section class="l-section p-flow" id="flow">
        <div class="l-inner p-flow__inner">
            <h2 data-eff="fadein-up">
                <picture class="sec-ttl">
                    <img src="<%- id %>/sec_ttl@2x.png" alt="Treatment Flow 施術の流れ" width="293" height="133">
                </picture>
            </h2>
            <!-- tbl -->
            <div class="p-flow__wrap">
                <ul class="p-flow__list">
                    <li class="p-flow__item --step01" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_01@2x.png" alt="Step 01" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_01_ttl@2x.png" alt="事前問診票の記入" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_01_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_01_txt@2x.png" alt="メディカルサロンミュー公式LINEより事前に問診票の記入をしていただきます" width="293" height="76">
                                </picture>
                            </p>
                        </div>
                    </li>
                    <li class="p-flow__item --step02" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_02@2x.png" alt="Step 02" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_02_ttl@2x.png" alt="オンライン診療" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_02_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_02_txt@2x.png" alt="メディカルサロンミュー提携のドクターとオンライン診療を行います。アートメイクに関する説明などが行われます。※スマホ、タブレット、パソコンなどから簡単にオンライン診療可能です。" width="293" height="190">
                                </picture>
                            </p>
                        </div>
                    </li>
                    <li class="p-flow__item --step03" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_03@2x.png" alt="Step 03" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_03_ttl@2x.png" alt="来店特約" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_03_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_03_txt@2x.png" alt="あなたのスケジュールに合わせて来店予約が可能です。※来店予約もLINE公式アカウントより簡単にご利用いただけます。※１～３まではLINEで簡単に手続き可能です。" width="293" height="152">
                                </picture>
                            </p>
                        </div>
                    </li>
                    <li class="p-flow__item --step04" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_04@2x.png" alt="Step 04" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_04_ttl@2x.png" alt="ご来店" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_04_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_04_txt@2x.png" alt="店舗にご来店いただきます。予約制となっておりますので、時間に遅れないようお気をつけてお越しくださいませ。" width="293" height="114">
                                </picture>
                            </p>

                        </div>
                    </li>
                    <li class="p-flow__item --step05" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_05@2x.png" alt="Step 05" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_05_ttl@2x.png" alt="カウンセリング" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_05_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_05_txt@2x.png" alt="専門のアートメイクナースがあなたのご希望を伺い理想の眉になるためのカウンセリングを行います。" width="293" height="76">
                                </picture>
                            </p>
                        </div>
                    </li>
                    <li class="p-flow__item --step06" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_06@2x.png" alt="Step 06" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_06_ttl@2x.png" alt="デザインカラー決め" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_06_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_06_txt@2x.png" alt="ご要望に合わせて最適なデザイン・カラーを決定します。" width="293" height="38">
                                </picture>
                            </p>
                        </div>
                    </li>
                    <li class="p-flow__item --step07" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_07@2x.png" alt="Step 07" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_07_ttl@2x.png" alt="麻酔" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_07_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_07_txt@2x.png" alt="アートメイクナースが安全にクリームタイプの麻酔を塗布します。" width="293" height="76">
                                </picture>
                            </p>
                        </div>
                    </li>
                    <li class="p-flow__item --step08" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_08@2x.png" alt="Step 08" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_08_ttl@2x.png" alt="施術" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_08_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_08_txt@2x.png" alt="アートメイクの施術を行います。施術時間は、2時間30分程度です。※個人差があります。" width="293" height="114">
                                </picture>
                            </p>
                    </div>
                    </li>
                    <li class="p-flow__item --step09" data-eff="fadein-up">
                        <div class="list-num"><img src="<%- id %>/step_09@2x.png" alt="Step 09" width="385" height="53"></div>
                        <div class="p-flow__txtwrap">
                            <h3><img class="flow-ttl" src="<%- id %>/step_09_ttl@2x.png" alt="アフターケア" width="293" height="133"></h3>
                            <p>
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/step_09_txt@2x.png">
                                    <img class="flow-txt" src="<%- id %>/step_09_txt@2x.png" alt="施術当日、施術後の注意点などについてご説明いたします。" width="293" height="76">
                                </picture>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- section:END -->
