<%
var id = arg['incdir']+arg['dir']['img']+'/stores';
var ids= arg['incdir']+arg['dir']['img']+'/stores/sp';
%>
    <!-- section : stores -->
    <section class="l-section p-stores" id="stores">
        <div class="l-inner p-stores__inner">
            <h2 data-eff="fadein-up">
                <picture class="sec-ttl">
                    <img src="<%- id %>/sec_ttl@2x.png" alt="Price List 料金表" width="293" height="133">
                </picture>
            </h2>

            <!-- tbl 1 -->
            <div class="p-stores__content">
                <div class="p-stores__tblwrap" data-eff="fadein-up">
                    <div class="tbl-col1">
                        <div class="grid --top"></div>
                        <div class="grid"><img class="tbl-2-1" src="<%- id %>/tbl_2_1@2x.png" alt="１回" width="60" height="45"></div>
                        <div class="grid"><img class="tbl-3-1" src="<%- id %>/tbl_3_1@2x.png" alt="２回" width="60" height="45"></div>
                        <div class="grid"><img class="tbl-4-1" src="<%- id %>/tbl_4_1@2x.png" alt="３回" width="60" height="45"></div>
                        <div class="grid"><img class="tbl-5-1" src="<%- id %>/tbl_5_1@2x.png" alt="４回" width="60" height="45"></div>
                    </div>
                    <div class="tbl-col2">
                        <div class="grid-row --top">
                            <div class="grid-store">
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/tbl_1_21@2x.png">
                                    <img class="tbl-1-21" src="<%- id %>/tbl_1_21@2x.png"  alt="miuex 札幌中央" width="178" height="50">
                                </picture>
                            </div>
                            <div class="grid-plan1">
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/tbl_1_221@2x.png">
                                    <img class="tbl-1-221" src="<%- id %>/tbl_1_221@2x.png" alt="ハイクラスアーティスト" width="210" height="40">
                                </picture>
                            </div>
                            <div class="grid-plan2">
                                <picture>
                                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/tbl_1_222@2x.png">
                                    <img class="tbl-1-222" src="<%- id %>/tbl_1_222@2x.png" alt="トレーニープラン" width="160" height="40">
                                </picture>
                            </div>
                        </div>
                        <div class="grid-row">
                            <div class="grid-pprice1"><img class="tbl-y66000" src="<%- id %>/tbl_y66000@2x.png" alt="¥66,000" width="110" height="40"></div>
                            <div class="grid-pprice2">
                                <img class="tbl-ppricetxt tbl-2-3-1" src="<%- id %>/tbl_2_3_1@2x.png" alt="梅 ¥11,000" width="132" height="50">
                                <img class="tbl-ppricetxt tbl-2-3-2" src="<%- id %>/tbl_2_3_2@2x.png" alt="竹 ¥22,000" width="132" height="50">
                                <img class="tbl-ppricetxt tbl-2-3-3" src="<%- id %>/tbl_2_3_3@2x.png" alt="松 ¥33,000" width="132" height="50">
                            </div>
                        </div>
                        <div class="grid-row">
                            <div class="grid-pprice1"><img class="tbl-y110000" src="<%- id %>/tbl_y110000@2x.png" alt="¥110,000" width="127" height="40"></div>
                            <div class="grid-pprice2">
                                <img class="tbl-ppricetxt tbl-3-3-1" src="<%- id %>/tbl_3_3_1@2x.png" alt="梅 ¥18,000" width="132" height="50">
                                <img class="tbl-ppricetxt tbl-3-3-2" src="<%- id %>/tbl_3_3_2@2x.png" alt="竹 ¥42,000" width="132" height="50">
                                <img class="tbl-ppricetxt tbl-3-3-3" src="<%- id %>/tbl_3_3_3@2x.png" alt="松 ¥63,000" width="132" height="50">
                            </div>
                        </div>
                        <div class="grid-row">
                            <div class="grid-pprice1"><img class="tbl-y110000b" src="<%- id %>/tbl_y110000b@2x.png" alt="¥110,000 ※ご紹介をした方のみ" width="150" height="90"></div>
                            <div class="grid-pprice2">
                                <img class="tbl-ppricetxt tbl-4-3-1" src="<%- id %>/tbl_4_3_1@2x.png" alt="梅 ¥28,000" width="132" height="50">
                                <img class="tbl-ppricetxt tbl-4-3-2" src="<%- id %>/tbl_4_3_2@2x.png" alt="竹 ¥63,000" width="132" height="50">
                                <img class="tbl-ppricetxt tbl-4-3-3" src="<%- id %>/tbl_4_3_3@2x.png" alt="松 ¥94,000" width="132" height="50">
                            </div>
                        </div>
                        <div class="grid-row">
                            <div class="grid-pprice1">
                                <img class="tbl-5-2-1" src="<%- id %>/tbl_5_2_1@2x.png" alt="★アートメイクし放題★" width="220" height="40">
                                <img class="tbl-5-2-2" src="<%- id %>/tbl_5_2_2@2x.png" alt="当店オリジナル" width="126" height="40">
                                <img class="tbl-y130000" src="<%- id %>/tbl_y130000@2x.png" alt="¥130,000" width="121" height="60">
                                <img class="tbl-5-2-4" src="<%- id %>/tbl_5_2_4@2x.png" alt="※有効期限２年" width="105" height="30">
                            </div>
                            <div class="grid-pprice2"><img class="tbl-none" src="<%- id %>/tbl_none.png" alt="-" width="25" height="50"></div>
                        </div>
                    </div>
                    <div class="tbl-col3">
                        <div class="grid --top"><img class="tbl-1-4" src="<%- id %>/tbl_1_4@2x.png" alt="A社" width="25" height="50"></div>
                        <div class="grid"><img class="tbl-y72000" src="<%- id %>/tbl_y72000@2x.png" alt="￥72,000" width="87" height="50"></div>
                        <div class="grid"><img class="tbl-y120000" src="<%- id %>/tbl_y120000@2x.png" alt="￥120,000" width="99" height="50"></div>
                        <div class="grid"><img class="tbl-y120000" src="<%- id %>/tbl_y120000@2x.png" alt="￥120,000" width="99" height="50"></div>
                        <div class="grid"><img class="tbl-y120000" src="<%- id %>/tbl_y120000@2x.png" alt="￥120,000" width="99" height="50"></div>
                    </div>
                    <div class="tbl-col4">
                        <div class="grid --top"><img class="tbl-1-5" src="<%- id %>/tbl_1_5@2x.png" alt="B社" width="25" height="50"></div>
                        <div class="grid"><img class="tbl-none" src="<%- id %>/tbl_none.png" alt="-" width="25" height="50"></div>
                        <div class="grid"><img class="tbl-y72000" src="<%- id %>/tbl_y72000@2x.png" alt="￥72,000" width="87" height="50"></div>
                        <div class="grid"><img class="tbl-none" src="<%- id %>/tbl_none.png" alt="-" width="25" height="50"></div>
                        <div class="grid"><img class="tbl-none" src="<%- id %>/tbl_none.png" alt="-" width="25" height="50"></div>
                    </div>
                </div>
                <picture class="tbl-txt">
                    <source media="(max-width: 767px)" type="image/png" srcset="<%- ids %>/tbl_txt@2x.png">
                    <img src="<%- id %>/tbl_txt@2x.png" alt="◆トレーニーランクについて◆ 梅：１ヶ月以内のアーティスト 竹：国内外のディプロマ保有の認定講師から合格をもらったアーティスト 松：竹の条件をクリアした後にお客様から好評を３以上または、指名顧客が３名以上いるアーティスト" width="874" height="169">
                </picture>
            </div>

            <%- include('../parts/_cvbtn', { arg:ary }) -%>
        </div>
    </section>
    <!-- section:END -->
