<%
    var incdir = arg['incdir'];
    var nowpage = 0;    //  現在のページ
-%>
    <!-- section : SERVICE -->
    <section class="l-section p-works" id="works">
        <div class="l-body p-works__body">
            <div class="l-inner p-works__inner">
                <div class="p-works__content">
                    <ul class="p-works__list">
                        <li class="p-works__box">
                            <a href="#">
                                <picture>
                                    <img src="<%- incdir %>assets/images/works/pc/works01.jpg" alt="work01" width="350" height="220">
                                </picture>
                                <div class="p-works__info">
                                    <h3>Smoothiesta 様</h3>
                                </div>
                            </a>
                        </li>
                        <li class="p-works__box">
                            <a href="#">
                                <picture>
                                    <img src="<%- incdir %>assets/images/works/pc/works02.jpg" alt="work02" width="350" height="220">
                                </picture>
                                <div class="p-works__info">
                                    <h3>Web Conference 様</h3>
                                </div>
                            </a>
                        </li>
                        <li class="p-works__box">
                            <a href="#">
                                <picture>
                                    <img src="<%- incdir %>assets/images/works/pc/works03.jpg" alt="work03" width="350" height="220">
                                </picture>
                                <div class="p-works__info">   
                                    <h3>LAMINA 様</h3>
                                </div>
                            </a>
                        </li>
                        <li class="p-works__box">
                            <a href="#">
                                <picture>
                                    <img src="<%- incdir %>assets/images/works/pc/works04.jpg" alt="work04" width="350" height="220">
                                </picture>
                                <div class="p-works__info">   
                                    <h3>CITYLab 様</h3>
                                </div>
                            </a>
                        </li>
                        <li class="p-works__box">
                            <a href="#">
                                <picture>
                                    <img src="<%- incdir %>assets/images/works/pc/works05.jpg" alt="work05" width="350" height="220">
                                </picture>
                                <div class="p-works__info">   
                                    <h3>TABILOG 様</h3>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section:END -->
