<%
var href_home = '../index.html';
var href_dir = '';
if( arg['pageid'] =='index'){
     href_home ='#';
     href_dir = 'page/'
}
%>
    <!-- footer -->
    <footer id="footer" class="l-section p-footer">
        <div class="l-body p-footer__body">
            <div class="l-inner p-footer__inner">
                <!-- トップに戻るボタン -->
                <button class="c-gotoTopBtn" data-js="gotoTopBtn">
                    <span class="c-gotoTopBtn__inner">
                        <span class="c-gotoTopBtn__arrow">
                            <i class="fa-solid fa-arrow-up"></i>
                        </span>
                    </span>
                </button>
                <!-- トップに戻るボタン : END -->                
                <ul>
                    <li><a href="<%- href_home %>"           >HOME</a></li>
                    <li><a href="<%- href_dir %>news.html"   >NEWS</a></li>
                    <li><a href="<%- href_dir %>service.html">SERVICE</a></li>
                    <li><a href="<%- href_dir %>works.html"  >WORKS</a></li>
                    <li><a href="<%- href_dir %>company.html">COMPANY</a></li>
                    <li><a href="<%- href_dir %>recruit.html">RECRUIT</a></li>
                    <li><a href="<%- href_dir %>contact.html">CONTACT</a></li>
    
                </ul>
                <div class="p-footer__copylight">
                    <a href="<%- href_home %>"><small>© PON DESIGN</small></a>
                </div>
            </div>
        </div>
    </footer><!-- /footer -->
